name: publish

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout The Repository
        uses: actions/checkout@v3

      - name: Install pnpm latest version
        uses: pnpm/action-setup@v2
        with:
          version: latest

      - name: Use Node.js version 16.x
        uses: actions/setup-node@v3
        with:
          node-version: "16.x"
          # FIXME: Sound like pnpm cache is not working correctly
          cache: "pnpm"

      - name: Install Dependencies and Build
        run: |
          pnpm install
          pnpm build
      # - name: Create Pull-Request or Publish to npm
      #   id: changeset
      #   uses: changesets/action@v1
      #   with:
      #     publish: pnpm changeset publish
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      #     NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
